*{
  margin: 0;
}
 
  main{
    padding: 2%;
    margin-left: 22.2% !important;
    background: rgb(206, 199, 199);
    position: relative;
    
    
  }
  .sidebar{
    background-color: #736667;
    position: fixed;
    top: 0 !important;
    left: 0;
    top: 100px;
    color: white;
    height: 100%;
    width: 300px;
    transition: all 0.5s;

  }
  .top_section{
    display: flex;
    align-items: center;
    padding: 20px 15px;
  }
  .logo{
    font-size: 30px;
  
  }
  .bars{
    font-size: 25px;
    display: flex;
    margin-left: 90px;
  }
  .link{
    display: flex;
    color: white;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;  
    text-decoration: none;
  }
  .link:hover{
    background: lightblue;
    color: #000;
    transition: all 0.5s;  
   
  }
  .active{
    background: lightblue;
    color: #000;
  }
  .icon , .link_text{
    font-size: 20px;
   
  }
  body{
    font-family: 'Poppins';
  }
  